@font-face {
	font-family: "HankenGrotesk";
	font-display: swap;
	font-weight: 100 900;
	src: url(/fonts/HankenGrotesk-VariableFont_wght.ttf) format(truetype);
}

:root {
	/* layout */
	--max-content-width: 46rem;
	--cols-amount: 2;
	--gaps-amount: calc(var(--cols-amount) - 1);
	--shrink-ratio: 0.85;
	--gap: 0rem;
	--col-x: repeat(
		auto-fit,
		minmax(
			min(
				(
					(
							(var(--max-content-width) - var(--gap) * var(--gaps-amount)) /
								var(--cols-amount)
						) * var(--shrink-ratio)
				),
				100%
			),
			1fr
		)
	);

	/* colors */
	--clr-primary-1-solid: hsl(0, 100%, 67%);
	--clr-primary-2-solid: hsl(39, 100%, 56%);
	--clr-primary-3-solid: hsl(166, 100%, 37%);
	--clr-primary-4-solid: hsl(234, 85%, 45%);
	--clr-primary-1-alpha: 0, 100%, 67%;
	--clr-primary-2-alpha: 39, 100%, 56%;
	--clr-primary-3-alpha: 166, 100%, 37%;
	--clr-primary-4-alpha: 234, 85%, 45%;

	--clr-gradient-1-solid: hsl(252, 100%, 67%);
	--clr-gradient-2-solid: hsl(241, 81%, 54%);
	--clr-gradient-3-solid: hsl(256, 72%, 46%);
	--clr-gradient-4-solid: hsl(241, 72%, 46%, 0);
	--clr-gradient-1-alpha: 252, 100%, 67%;
	--clr-gradient-2-alpha: 241, 81%, 54%;
	--clr-gradient-3-alpha: 256, 72%, 46%;
	--clr-gradient-4-alpha: 241, 72%, 46%;

	--clr-neutral-1-solid: hsl(0, 0%, 100%, 1);
	--clr-neutral-2-solid: hsl(221, 100%, 96%, 1);
	--clr-neutral-3-solid: hsl(241, 100%, 89%, 1);
	--clr-neutral-4-solid: hsl(224, 30%, 27%, 1);
	--clr-neutral-1-alpha: 0, 0%, 100%;
	--clr-neutral-2-alpha: 221, 100%, 96%;
	--clr-neutral-3-alpha: 241, 100%, 89%;
	--clr-neutral-4-alpha: 224, 30%, 27%;

	--gradient-bg: linear-gradient(
		var(--clr-gradient-1-solid),
		var(--clr-gradient-2-solid)
	);
	--gradient-circle: linear-gradient(
		var(--clr-gradient-3-solid),
		var(--clr-gradient-4-solid)
	);

	/* typography */
	--ff-primary: "HankenGrotesk", sans-serif;

	--fw-regular: 500;
	--fw-bold: 700;
	--fw-black: 800;

	--fs-md: 1.125rem;
	--fs-lg: 1.5rem;
	--fs-xl: 1.75rem;
	--fs-2xl: 4.25rem;
}

*,
*::before,
*::after {
	margin: 0;
	font: inherit;
	box-sizing: border-box !important;
}

svg {
	display: block;
	max-width: 100%;
}

body {
	font-family: var(--ff-primary);
	font-size: var(--fs-md);
	color: var(--clr-neutral-4-solid);
	display: grid;
	place-items: center;
	min-height: 100vh;
	min-height: 100dvh;
	width: 100vw;
	width: 100dvw;
}

main {
	width: 100%;
}

.results-summary-component {
	--padding: 2.5rem;
	--base-border-radius: 2rem;
	--border-radius-desktop: var(--base-border-radius);
	--border-radius-mobile: 0 0 var(--base-border-radius)
		var(--base-border-radius);
	--box-shadow: 0.5rem 1rem 3rem hsl(var(--clr-neutral-4-alpha), 0.2);

	width: min(46rem, 100%);
	display: grid;
	border-radius: var(--border-radius-desktop);
	box-shadow: var(--box-shadow);
	margin: auto;
}

.results-summary-component > * {
	padding: var(--padding);
}

.section-title {
	font-weight: var(--fw-bold);
	font-size: var(--fs-lg);
}

.results {
	text-align: center;
	gap: 2rem;
	color: hsl(var(--clr-neutral-1-alpha), 0.7);
	background: var(--gradient-bg);
	border-radius: var(--border-radius-desktop);
	display: grid;
	justify-content: center;
}

.result-score {
	width: 12rem;
	background: var(--gradient-circle);
	aspect-ratio: 1;
	border-radius: 50%;
	justify-self: center;
}

.result-score span {
	font-size: var(--fs-2xl);
	font-weight: var(--fw-black);
	line-height: 1;
	color: var(--clr-neutral-1-solid);
}

.result-rank {
	color: var(--clr-neutral-1-solid);
	font-size: var(--fs-xl);
	font-weight: var(--fw-bold);
	margin-bottom: 1rem;
}

.result-desc {
	max-width: 90%;
	margin-inline: auto;
}

.summary {
	display: grid;
	align-content: center;
	gap: 2rem;
}

.summary-items {
	display: grid;
	gap: 1rem;
}

.summary-item {
	display: flex;
	gap: 2rem;
	padding: 1rem;
	border-radius: 0.5rem;
	background-color: hsl(var(--item-color), 0.1);
}

.summary-item:nth-child(1) {
	--item-color: var(--clr-primary-1-alpha);
}
.summary-item:nth-child(2) {
	--item-color: var(--clr-primary-2-alpha);
}
.summary-item:nth-child(3) {
	--item-color: var(--clr-primary-3-alpha);
}
.summary-item:nth-child(4) {
	--item-color: var(--clr-primary-4-alpha);
}

.summary-item__caption-group {
	display: flex;
	gap: 0.8rem;
	flex: 1;
	min-width: max-content;
}

.summary-item__icon {
	stroke: hsl(var(--item-color));
	width: 1.25rem;
	aspect-ratio: 1;
}

.summary-item__title {
	color: hsl(var(--item-color));
	font-weight: var(--fw-bold);
}

.summary-item__score {
	color: hsl(var(--clr-neutral-4-alpha), 0.5);
	font-weight: var(--fw-black);
	min-width: max-content;
}

.summary-item__score span {
	color: var(--clr-neutral-4-solid);
	margin-right: 0.15rem;
}

.btn {
	color: var(--clr-neutral-1-solid);
	background: var(--clr-neutral-4-solid);
	line-height: 1;
	padding: 1rem 2rem;
	border: 0;
	border-radius: 100vw;
	cursor: pointer;
}

.btn:hover,
.btn:focus-visible {
	background: var(--gradient-bg);
	outline: 1px solid var(--clr-gradient-3-solid);
	outline-offset: -1px;
}

@media (max-width: 625px) {
	.results-summary-component {
		--padding: 2rem;
		--border-radius-desktop: 0;
		--box-shadow: none;

		height: 100vh;
		height: 100dvh;
		align-content: start;
	}

	.results {
		border-radius: var(--border-radius-mobile);
	}
}

/* utilities */
.grid-center {
	display: grid;
	place-content: center;
	place-items: center;
}

.col-2 {
	grid-template-columns: var(--col-x);
}
